# Quartus project files
*.rpt
*.summary
*.smsg
*.log
*.jdi
*.sld
*.sldx
*.pin
*.pof
*.sof
*.cdf
*.dbs
*.qws
*.qmsg
*.qdb
*.qdz
*.qip
*.qsys
*.qsys_edit
*.qsys_backup
*.qsys_auto
*.qsys_sim
*.qsys_hw
*.qsys_hw.tcl
*.qsys_hw.xml
*.qsys_hw.qip
*.qsys_hw.qsys
*.qsys_hw.qsys_edit
*.qsys_hw.qsys_backup

# Simulation output (ModelSim)
work/
transcript
vsim.wlf
*.vcd
*.ucdb
*.wlf
*.bak
*.log
*.ini
*.dat
*.mif
*.hex
*.srec
*.map
*.vho
*.vhd
*.vqm
*.v
*.vo
*.sdo
*.sdf
*.psm
*.psf
*.vst
*.vcd
*.vhw
*.vho
*.vmo
*.vnm
*.vob
*.vlog
*.vlib
*.vmap
*.vhdl
*.vhdl.log
*.vhdl.err
*.rdb
*.hdb
*.dpi
# NativeLink simulation artifacts
*_nativelink_simulation.rpt
*_nativelink_simulation.qmsg
*_nativelink_simulation.log

# Backup and temporary files
*~
*.swp
*.tmp
*.bak
*.old
*.orig
*.save
*.backup
